{% extends 'layout/adminLayout.html' %}

{% block header %}View Book{% endblock %}

{% block body %}
  
     <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin/items">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Add Items</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/books">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Manage Books</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Manage Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/category">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Manage Categories</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Logout</span></a>
        </li>
      </ul>
      
      <div id="content-wrapper">
        
        <div class="container-fluid">
		  <div class="row">
			<div class="col-sm">
          		<a href="/admin/books"><button class="btn btn-outline-primary">Go back</button></a>
			</div>
			<div class="col-sm-18">

                <button class="btn btn-outline-info" data-toggle="modal" data-target="#editModal">Edit Book</button>
          		<button class="btn btn-outline-danger" data-toggle="modal" data-target="#removeModal">Delete Book</button>


			</div>
			</div>
        
		  <div class="card">
		  <div class="card-img-top d-flex align-items-center bg-light">
			<div>
			   <img  id="book-covers" src="https://marketplace.canva.com/MAB4A8xTTac/1/0/thumbnail_large/canva-minimalist-teen-fiction-wattpad-book-cover-MAB4A8xTTac.jpg" alt="Card image cap">
		  	</div>
			<div class="card-body">
			   <h5 class="card-title">{{ bTitle }} by <i> {{ bAut }}</i></h5>
              <p class="card-text"> {{ bDesc}}
			</div>
		  </div>
          
          </div>
         <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Book Genre</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Genre</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for x in cat %}
                    <tr>
                      <td> {{ x[0] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
            
          
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->

	<!--Delete Modal-->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="RemoveModalLabel">Are you sure?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form id="form_delete" method="post" action="/admin/books/name/Delete"></form>
          <div class="modal-body">Are you sure you want to remove the category?</div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">Go back</button>
            <button type="submit" name="btn_bdelete" value="{{ bID }}" form="form_delete" class="btn btn-danger" href="#">Remove</button>
          </div>
        </div>
      </div>
    </div>
	<!-- Edit Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Category Name</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        <form id="form_update" method="post">
          <div class="modal-body">
            <div class="form-group">
                <label for="bookTitle">Book Title:</label>
                <!-- FOUND YOU  -->
                <input name="u_title" form="form_update" type="text" class="form-control" id="bookTitle" value="{{ bTitle }}">
              </div>
			<div class="form-group">
                <label for="bookAuthor">Book Author:</label>
                <input name="u_author" form="form_update" type="text" class="form-control" id="bookAuthor" value="{{ bAut }}">
              </div>
			<div class="form-group">
                <label for="bookDescription">Book Description:</label>
			  <textarea name="u_desc" form="form_update" class="form-control rounded-0" id="bookDescription" rows="5">{{ bDesc }}</textarea>
			</div>
          <div class="modal-footer">

            <button class="btn btn-primary" type="button" data-dismiss="modal">Go Back</button>
            <!-- class="btn btn-success" data-dismiss="modal" -->
            <button type="submit" name="btn_bedit" value="{{ bID }}" formaction="/admin/books/name/Edit" class="btn btn-success">Update</button>
          </div>

        </div>
        </form>

      </div>
    </div>
  {% endblock %}

