<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Library</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/mdb.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">

  </head>

  <body class="deep-purple lighten-5">
  	 <nav class="navbar navbar-expand-lg navbar-dark blue accent-2">
	   <div class="container">
    <a class="navbar-brand" href="#"><strong>Epitome</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">My Library </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Search Library <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
      
    </div>
	<div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
	</div>
 
	</div>
  </nav>


    <div class="container-fluid blue lighten-5">
      <div class="mask flex-center">
        <div class="container text-center white-text wow fadeInUp">
		  <br>
          <h2 class="text-dark">My Library</h2>
        </div>
      </div>
	  <hr>
	  <br>
	  
	 <section class="portfolio" id="portfolio">

	 <div class="container">
		 <form class="form-inline md-form form-sm mt-0">
		  <i class="fa fa-search" aria-hidden="true"></i>
		  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
		</form>
	   <div class="row">
		 <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
	   <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
		  <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
		 
	   <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
	   </div>
	   <div class="row">
		 
		  <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
		  <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
		  <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
		  <div class="col">
	   <div class="d-block mx-auto">
            <a class="portfolio-item" data-toggle="modal" data-target="#basicExampleModal">
              <div class="portfolio-item-caption d-flex position-absolute h-75 w-75">
                <div class="portfolio-item-caption-content my-auto w-50 text-center text-white">
                  <i class="fas fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img class="img-fluid bookCover" src="img/canvas.jpg" alt="">
			  <h1>sadad</h1>
            </a>
		 
		 </div>
	 </div>
		 
	   </div>
	   </div>
		 </section>
	</div>
	<!-- Portfolio Modal 1 -->
	 <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
			<div class="card">
		 
			<!-- Card image -->
			<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
		 
			<!-- Card content -->
			<div class="card-body">
		  
			  <!-- Title -->
			  <h4 class="card-title"><a>Card title</a></h4>
			  <!-- Text -->
			  <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></p>
			  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa harum ipsam maiores minus perferendis quia rerum tenetur ut vero!</p>
			</div>
			  
			  <div class="card-body">
				<div class="card-title">Comments:</div>
				<p class="card-text">This is a great Book</p>
			  </div>
			<div class="card">
			  <div class="card-body">
				<h4>Your Review</h4>
				<div class="form-group">
					<textarea name="reviews" class="form-control" cols="30" rows="10" placeholder="What do you think about this book??"></textarea>
				  </div>
				<button class="btn btn-outline-primary" type="button">Enter</button>
            	</div>
			  </div>
			</div>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add to Library</button>
      </div>
    </div>
  </div>
<footer class="page-footer font-small cyan darken-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Team Epitome</a>
    </div>
    <!-- Copyright -->

  </footer>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	 <script src="js/mdb.js"></script>
  </body>

</html>
