<!DOCTYPE html>
<html lang="en">

  <head>
    {% block callit %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block header %} {% endblock %}</title>

    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/dataTables.bootstrap4.css') }}">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.css') }}">
    {% endblock%}
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/admin">Epitome</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
      </button>

      
    </nav>
    
    <!-- /#wrapper -->
    {% block body %} {% endblock %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    
    {% block modal %}{% endblock %}

    <!-- Bootstrap core JavaScript-->
     <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Core plugin JavaScript-->
     <script type="text/javascript" src="{{ url_for('static', filename='jquery-easing/jquery.easing.min.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    
     <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>

  </body>

</html>
