<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block header %}{% endblock %}</title>

    <!-- Bootstrap core CSS-->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin.css" rel="stylesheet">
    <link href="../static/css/mdb.css" rel="stylesheet">

  </head>

  <body class="light-blue lighten-1">
  <div class="edge-header blue lighten-5">
	<br><br>
    <div class="container">
	  <center><img src="../static/img/logo2.png" class="mx-auto" style="width: 40%;" alt="logo"></center>
    </div>
  </div>
      {% block body %}{% endblock %}
	<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <br>
    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="#"> Team Epitome </a>
    </div>
</footer>
    <!--/.Copyright-->
    <!-- Bootstrap core JavaScript-->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/mdb.js"></script>
  </body>

</html>
